import React from 'react';
{{#each fragments}}
import { {{this.name}} } from '__generated__/{{this.name}}.graphql';
{{/each}}

export type {{componentName}}Props = {
  /**
   * Add inter-component props here
   * (i.e. props given by the parent component of ${componentName})
   */
}

type Props = {
  {{#each fragments}}
  {{this.propName}}: {{this.name}};
  {{/each}}
  /**
   * Add intra-component props here
   * (i.e. props given by {{componentName}}/index.tsx)
   */
};

const {{componentName}}UI = (props: Props) => {
  return (
    <div>
      <h1>{{componentName}}</h1>
      {{#each fragments}}
      <div>
        <h2>{{this.name}}</h2>
        {{#each fragment.selectionSet}}
        { props.{{../this.propName}}.{{this.value}} }
        {{/each}}
      </div>
      {{/each}}
    </div>
  );
};

export const {{componentName}}Loader = () => {
  return <>Loading {{componentName}}...</>;
}

export default {{componentName}}UI;
